@font-face {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/San Francisco Pro/text/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/San Francisco Pro/text/SF-Pro-Text-Medium.otf');
}

@font-face {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/San Francisco Pro/text/SF-Pro-Text-Semibold.otf');
}

@font-face {
  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/San Francisco Pro/text/SF-Pro-Text-Bold.otf');
}

:root {
  --color-orange: #F57D07;
  --donation-orange: #FF8E33;
  --on-donation-orange: #502400;
  --surface: #151218;
  --surface-bright: #3B383E;
  --inverse-surface: #E7E0E8;
  --on-inverse-surface: #322F35;
  --inverse-primary: #69548D;
  --on-surface: #E7E0E8;
  --on-surface-variant: #CBC4CF;
  --surface-container: #211E24;
  --surface-container-low: #1D1A20;
  --surface-container-lower: #0F0D12;
  --surface-container-high: #2C292F;
  --surface-container-highest: #36343B;
  --outline: #958E99;
  --outline-variant: #49454E;
  --color-purple: #9146FF;
  --primary: #D5BBFC;
  --on-primary: #3A255B;
  --primary-container: #513C73;
  --on-primary-container: #ECDCFF;
  --primary-30: #5E00C1;
  --primary-40: #7A26E7;
  --primary-50: #934BFF;
  --primary-60: #A974FF;
  --primary-70: #BF98FF;
  --neutral: #7A767A;
  --error: #de3730;
  --elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}

body {
  display: flex;
  height: 100vh;
  font-family: 'San Francisco Pro', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  background-color: var(--surface-container-low);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .3s;
  overflow: hidden;
}

a {
  color: var(--primary-60);
}

h1::selection,
h2::selection,
h3::selection,
p::selection,
a::selection,
span::selection {
  background-color: var(--primary-60);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--outline-variant);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--primary-60);
  transition: .2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-70);
}

.tippy-box[data-theme~='general'] {
  white-space: break-spaces;
  color: var(--on-inverse-surface);
  background-color: var(--inverse-surface);

  &[data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--inverse-surface) !important;
  }

  &[data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--inverse-surface) !important;
  }

  &[data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--inverse-surface) !important;
  }

  &[data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--inverse-surface) !important;
  }
}